spring:
  datasource:
    platform: H2
    url: jdbc:h2:file:./build/h2db/db/app;DB_CLOSE_DELAY=100
    username: shiro
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      pool-name: Hikari
  h2:
    console:
      enabled: true
      path: "/h2"
  jpa:
    database: h2
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  session:
    timeout: 10M

logging:
  level:
    debug: debug

